<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ylui.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>A92A956DFB54B7DCF0C30C06B94F6B5AFEB64E5D</string>
				<key>dateExpires</key>
				<string>2022/3/25</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A92A956DFB54B7DCF0C30C06B94F6B5AFEB64E5D</string>
						<key>dateExpires</key>
						<string>2022/3/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>98BPUE6XQ4</string>
						<key>name</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A92A956DFB54B7DCF0C30C06B94F6B5AFEB64E5D</string>
						<key>dateExpires</key>
						<string>2022/3/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>98BPUE6XQ4</string>
						<key>name</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A92A956DFB54B7DCF0C30C06B94F6B5AFEB64E5D</string>
						<key>dateExpires</key>
						<string>2022/3/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>98BPUE6XQ4</string>
						<key>name</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A92A956DFB54B7DCF0C30C06B94F6B5AFEB64E5D</string>
						<key>dateExpires</key>
						<string>2022/3/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>98BPUE6XQ4</string>
						<key>name</key>
						<string></string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>98BPUE6XQ4.com.yuanling.ylkit.example</string>
				<key>com.apple.developer.team-identifier</key>
				<string>98BPUE6XQ4</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>98BPUE6XQ4.com.yuanling.ylkit.example</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6430eb6c-4e08-487a-a404-da385fc526b3</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.yuanling.ylkit.example</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>98BPUE6XQ4</string>
				<key>name</key>
				<string></string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
